.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.container .contenu form{
  display: flex;
}

.contenu .btnSearch{
  margin-left: 10px;
}

.container .boxInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(107, 201, 255);
  margin-top: 20px;
  padding: 120px;
  padding-top: 20px;
  border-radius: 10px;
}
.container .boxInfo .villeName{
  color: white;
  font-size: 30px;
}

.container .boxInfo .tempVille{
  padding-top: -19px ;
  color: white;
  font-size: 45px;
}
.container .boxInfo .footerInfo{
  display: flex;
  padding-top: 30px;
}
.container .boxInfo .footerInfo h2{
  color: white;
}

.container .boxInfo .desc{
  color: white;
  font-size: 25px;
}